* {
	margin: 0;
	padding: 0;
}
.banner {
	margin: auto;
	width: 1352px;
	height: 500px;
	position: relative;
	// overflow: hidden;
	& .slideshow {
		width: 1352px;
		height: 500px;
		overflow: hidden;
		& .slide {
			position: absolute;
			top: 0px;
			left: 0px;
			opacity: 0;
			visibility: hidden;
			& img {
				width: 1352px;
				height: 500px;
			}
			&.active {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	& .btn-slide {
		& span {
			opacity: 0.6;
			font-size: 40px;
			color: white;
		}
		& span.btn-prev {
			position: absolute;
			left: 5px;
			top: 47%;
			cursor: pointer;// trỏ vào btn sẽ ra hình ngón tay
			z-index: 10;
		}
		& span.btn-next {
			position: absolute;
			right: 5px;
			top: 47%;
			cursor: pointer; //trỏ vào 2 button sẽ ra hình ngón tay
			z-index: 10;
		}
		& ul {
			display: flex;
			justify-content: space-between;
			position: absolute;
			z-index: 10;
			width: 100px;
			bottom: 35px;
			left: 50%;
			margin-left: -50px;
			& li {
				list-style-type: none;
				width: 20px;
				height: 20px;
				opacity: 0.6;
				cursor: pointer;
				background: white;
				border-radius: 50%;
			}
		}
	}
}

.remove_slide_left {
	animation: remove_slide_left 1s forwards;
}
@-webkit-keyframes remove_slide_left {
	from {
		transform: translateX(0px);
	}
	to {
		transform: translateX(-1352px);
	}
}

.slide_right {
	animation: slide_right 1s forwards;
}
@-webkit-keyframes slide_right {
	from {
		transform: translateX(1352px);
	}
	to {
		transform: translateX(0px);
	}
}

.remove_slide_right {
	animation: remove_slide_right 1s forwards;
}
@-webkit-keyframes remove_slide_right {
	from {
		transform: translateX(0px);
	}
	to {
		transform: translateX(1352px);
	}
}

.slide_left {
	animation: slide_left 1s forwards;
}
@-webkit-keyframes slide_left {
	from {
		transform: translateX(-1352px);
	}
	to {
		transform: translateX(0px);
	}
}

